<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pt-br">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Gerenciador de Atividades</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/task-favicon.png"/>
    <!-- Ícones do Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Link Bootstrap -->
    <link href="styles/bootstrap.css" rel="stylesheet"/>
    <!-- Link CSS -->
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
<div id="page-container">
    <div id="content-wrap">
        <!-- Navbar Responsiva -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" th:href="@{/}">Gerenciador de Atividades</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/}">Início</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/servicos}">Serviços</a></li>
                        <li class="nav-item"><a class="nav-link active" th:href="@{/conquistas}">Conquistas</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contato}">Contato</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/sobre}">Sobre</a></li>
                        <li class="nav-item"><a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">Logout</a>
                        </li>
                        <li class="nav-item"><a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/signin}">Entrar</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <section id="features">
            <div class="text-center">
                <div class="feature bg-primary bg-gradient text-white rounded-3 my-5">
                    <i class="bi bi-trophy"></i>
                </div>
            </div>
            <h2 class="text-center fw-bold">Conquistas</h2>
            <div class="container px-5 my-5 mx-auto">
                <div class="row gx-5 justify-content-center">

                    <!-- Itera sobre a lista de grupoConquistas -->
                    <div th:each="grupoConquista : ${grupoConquistas}" class="col-lg-3 pt-4 mb-5 mb-lg-0">
                        <div class="card h-100 shadow">
                            <!-- Verifica o status da conquista e ajusta a cor -->
                            <div th:classappend="${grupoConquista.conquistaConcluida} ? 'opacity-100' : 'opacity-25'"
                                 class="card-body text-center bg-gradient">
                                <div class="feature bg-gradient bg-primary text-white rounded-3 mb-3">
                                    <i class="bi bi-award"></i>
                                </div>
                                <h2 class="h4 fw-bolder" th:text="${grupoConquista.conquista.nome}">Conquista Nome</h2>
                                <p class="card-text" th:text="${grupoConquista.conquista.descricao}">Conquista
                                    Descrição</p>
                            </div>
                            <span th:href="@{/tarefa/criar-atividade}"
                               th:text="${grupoConquista.conquistaConcluida} ? 'Status: Concluído' : 'Status: Pendente'"
                               th:classappend="${grupoConquista.conquistaConcluida} ? 'bg-primary text-white' : ''"
                               class="card-footer text-center text-black text-decoration-none">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container-sobre">
            <h2 class="fw-bolder py-5 text-white text-center">Ranking de Conquistas</h2>
            <div class="table-responsive mx-auto" style="width: 25%;">
                <table class="table table-dark text-center border">
                    <thead>
                    <tr>
                        <th>Posição</th>
                        <th>Nome do Grupo</th>
                        <th>Conquistas Concluídas</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="grupo, iterStat : ${gruposComMaisConquistas}">
                        <td th:text="${iterStat.index + 1}"></td>
                        <td th:text="${grupo[0]}">Nome do Grupo</td>
                        <td th:text="${grupo[1]}">Conquistas Concluídas</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-white text-center footer-padrao d-flex align-items-center">
        <div class="container">
            <p class="m-0">Copyright &copy; Fhelipe Alves - 2023</p>
            <p class="m-0">
                <a href="https://www.linkedin.com/in/fhelipe-alves/" target="_blank">LinkedIn</a> |
                <a href="https://github.com/fhelipe27" target="_blank">GitHub</a>
            </p>
        </div>
    </footer>

</div>
</section>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</div>
</div>
</body>

</html>