<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pt-br">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Gerenciador de Atividades</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/task-favicon.png}"/>
    <!-- Ícones do Bootstrap-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css}" rel="stylesheet"/>
    <!-- Link Bootstrap -->
    <link th:href="@{/styles/bootstrap.css}" rel="stylesheet"/>
    <!-- Link CSS -->
    <link th:href="@{/styles/style.css}" rel="stylesheet"/>
</head>

<body>

<div id="page-container">
    <div id="content-wrap">
        <!-- Navbar Responsiva -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" th:href="@{/}">Gerenciador de Atividades</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/}">Início</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/servicos}">Serviços</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/conquistas}">Conquistas</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contato}">Contato</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/sobre}">Sobre</a></li>
                        <li class="nav-item"><a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">Logout</a></li>
                        <li class="nav-item"><a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/signin}">Entrar</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="text-center m-5">
            <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                <i class="bi bi-trash"></i>
            </div>
            <h2 class="fw-bolder">Lista de Atividades Removidas</h2>
        </div>

        <!-- Lista de Atividades -->
        <div class="table-responsive">
            <table class="table table-striped table-bordered text-center mx-auto w-50 custom-border">
                <thead class="table bg-primary text-white">
                <tr style="background-color: #1A3B52;">
                    <th scope="col">Nome da Atividade</th>
                    <th scope="col">Responsável</th>
                    <th scope="col">Data Final</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tarefa : ${tarefas}">
                    <td class="align-middle">
                        <a href="#" data-bs-toggle="modal" th:data-bs-target="${'#modalTarefa' + tarefa.idTarefa}">
                            <span class="text-primary" th:text="${tarefa.nome}"></span>
                        </a>
                    </td>
                    <td class="align-middle"><span th:text="${tarefa.responsavel}"></span></td>
                    <td class="align-middle"><span th:text="${#dates.format(tarefa.dataFinal, 'dd/MM/yyyy')}"></span></td>


                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <!-- Modais para cada tarefa -->
        <div th:each="tarefa : ${tarefas}">
            <div class="modal fade" th:id="'modalTarefa' + ${tarefa.idTarefa}" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" th:text="${tarefa.nome}"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p><strong>Nome da Tarefa:</strong> <span th:text="${tarefa.nome}"></span></p><br>
                            <p><strong>Responsável:</strong> <span th:text="${tarefa.responsavel}"></span></p><br>
                            <p><strong>Data Início:</strong> <span th:text="${#dates.format(tarefa.dataInicio, 'dd/MM/yyyy')}"></span></p><br>
                            <p><strong>Data Final:</strong> <span th:text="${#dates.format(tarefa.dataFinal, 'dd/MM/yyyy')}"></span></p><br>
                            <p><strong>Descrição:</strong> <span th:text="${tarefa.descricao}"></span></p><br>
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{'/tarefa/desmarcar-concluida-removidas/' + ${tarefa.idTarefa}}" method="POST" onclick="return confirm('Tem certeza que deseja voltar esta atividade para a lista de atividades?')">
                                <button type="submit" class="btn btn-primary"><i class="bi bi-arrow-counterclockwise"></i>  Recolocar</button>
                            </form>
                            <a th:href="@{'/tarefa/deletarRemovida/' + ${tarefa.idTarefa}}" onclick="return confirm('Tem certeza que deseja remover permanentemente esta atividade?')">
                                <button type="button" class="btn btn-danger"><i class="bi bi-trash"></i> Remover</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
    <!-- Footer-->
    <footer class="bg-dark text-white text-center footer-padrao d-flex align-items-center">
        <div class="container">
            <p class="m-0">Copyright &copy; Fhelipe Alves - 2023</p>
            <p class="m-0">
                <a href="https://www.linkedin.com/in/fhelipe-alves/" target="_blank">LinkedIn</a> |
                <a href="https://github.com/fhelipe27" target="_blank">GitHub</a>
            </p>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</div>
</body>

</html>