<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" lang="pt-br">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Gerenciador de Atividades</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/task-favicon.png"/>
    <!-- Ícones do Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Link Bootstrap -->
    <link href="styles/bootstrap.css" rel="stylesheet"/>
    <!-- Link CSS -->
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
<div id="page-container">
    <div id="content-wrap">
        <!-- Navbar Responsiva -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" th:href="@{/}">Gerenciador de Atividades</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/}">Início</a>
                        </li>
                        <li class="nav-item"><a class="nav-link active" th:href="@{/servicos}">Serviços</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contato}">Contato</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/sobre}">Sobre</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Section Serviços -->

        <section class="" id="features">
            <div class="text-center">
                <div class="feature bg-primary bg-gradient text-white rounded-3 my-5">
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <h2 class="text-center fw-bold">Explore Nossos Recursos</h2>
            <div class="container px-5 my-5 mx-auto">
                <div class="row gx-5">

                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body text-center bg-gradient">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-plus-circle-fill"></i></div>
                                <h2 class="h4 fw-bolder">Criar Atividades</h2>
                                <p class="card-text">Dê o pontapé inicial para a produtividade do seu grupo. Crie novas
                                    atividades, compartilhe ideias e mantenha todos na mesma página com a funcionalidade
                                    fácil de criação de tarefas.</p>
                            </div>
                            <a href="servicos.html"
                               class="card-footer text-center bg-primary text-white text-decoration-none"
                               onmouseover="this.classList.add('text-decoration-underline')"
                               onmouseout="this.classList.remove('text-decoration-underline')">
                            <span class="text-decoration-none">
                                Explorar <i class="bi bi-arrow-right"></i>
                            </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-pencil-fill"></i></div>
                                <h2 class="h4 fw-bolder">Editar Atividades</h2>
                                <p class="card-text">Mantenha-se flexível e no controle total das suas tarefas. Com a
                                    funcionalidade de edição de atividades, você pode ajustar detalhes, adicionar
                                    informações
                                    importantes e adaptar-se às mudanças, garantindo que sua equipe esteja sempre
                                    alinhada com
                                    os objetivos.</p>
                            </div>
                            <a href="servicos.html"
                               class="card-footer text-center bg-primary text-white text-decoration-none"
                               onmouseover="this.classList.add('text-decoration-underline')"
                               onmouseout="this.classList.remove('text-decoration-underline')">
                            <span class="text-decoration-none">
                                Explorar <i class="bi bi-arrow-right"></i>
                            </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-clock-fill"></i></div>
                                <h2 class="h4 fw-bolder">Lista de Atividades</h2>
                                <p class="card-text">Tenha uma visão panorâmica de todas as tarefas em andamento. A
                                    lista de
                                    atividades proporciona uma visão consolidada das metas e projetos em execução,
                                    permitindo
                                    uma gestão eficaz do tempo e recursos. Mantenha-se informado e no controle,
                                    garantindo que
                                    cada membro da equipe esteja focado nas prioridades certas.</p>
                            </div>
                            <a href="servicos.html"
                               class="card-footer text-center bg-primary text-white text-decoration-none"
                               onmouseover="this.classList.add('text-decoration-underline')"
                               onmouseout="this.classList.remove('text-decoration-underline')">
                            <span class="text-decoration-none">
                                Explorar <i class="bi bi-arrow-right"></i>
                            </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <div class="card h-100">
                            <div class="card-body text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-clock-fill"></i></div>
                                <h2 class="h4 fw-bolder">Lista de Usuários</h2>
                                <p class="card-text">Conheça sua equipe de forma abrangente. A lista de usuários oferece
                                    uma
                                    visão completa dos membros do seu grupo, facilitando a comunicação, atribuição de
                                    tarefas e
                                    a compreensão das habilidades individuais. Este recurso promove a colaboração e a
                                    eficiência
                                    em todos os níveis.</p>
                            </div>
                            <a href="servicos.html"
                               class="card-footer text-center bg-primary text-white text-decoration-none"
                               onmouseover="this.classList.add('text-decoration-underline')"
                               onmouseout="this.classList.remove('text-decoration-underline')">
                            <span class="text-decoration-none">
                                Explorar <i class="bi bi-arrow-right"></i>
                            </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- Footer-->
    <footer class="bg-dark text-white text-center footer-padrao d-flex align-items-center">
        <div class="container">
            <p class="m-0">Copyright &copy; Fhelipe Alves - 2023</p>
            <p class="m-0">
                <a href="https://www.linkedin.com/in/fhelipe-alves/" target="_blank">LinkedIn</a> |
                <a href="https://github.com/fhelipe27" target="_blank">GitHub</a>
            </p>
        </div>
    </footer>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</div>
</body>

</html>