<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="pt-br">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>Gerenciador de Atividades</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/task-favicon.png"/>
    <!-- Ícones do Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Link Bootstrap -->
    <link href="styles/bootstrap.css" rel="stylesheet"/>
    <!-- Link CSS -->
    <link rel="stylesheet" href="styles/style.css">
</head>

<body>
<div id="page-container">
    <div id="content-wrap">
        <!-- Navbar Responsiva -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" th:href="@{/}">Gerenciador de Atividades</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" aria-current="page" th:href="@{/}">Início</a>
                        </li>
                        <li class="nav-item"><a class="nav-link active" th:href="@{/servicos}">Serviços</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/conquistas}">Conquistas</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/contato}">Contato</a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/sobre}">Sobre</a></li>
                        <li class="nav-item"><a sec:authorize="isAuthenticated()" class="nav-link" th:href="@{/logout}">Logout</a></li>
                        <li class="nav-item"><a sec:authorize="isAnonymous()" class="nav-link" th:href="@{/signin}">Entrar</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Section Serviços -->
        <section id="features">
            <div class="text-center">
                <div class="feature bg-primary bg-gradient text-white rounded-3 my-5">
                    <i class="bi bi-search"></i>
                </div>
            </div>
            <h2 class="text-center fw-bold">Explore Nossos Recursos</h2>
            <div class="container px-5 my-5 mx-auto">
                <div class="row gx-5 justify-content-center">

                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <div class="card h-100 shadow">
                            <div class="card-body text-center bg-gradient">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-plus-circle-fill"></i></div>
                                <h2 class="h4 fw-bolder">Criar Atividades</h2>
                                <p class="card-text">Dê o pontapé inicial para a produtividade do seu grupo. Com a funcionalidade de criação de atividades, você pode facilmente definir novas tarefas e objetivos, garantindo que cada membro da equipe saiba exatamente o que precisa ser feito. Compartilhe ideias de maneira clara, mantenha todos na mesma página, assegurando que ninguém fique por fora.
                                </p>
                            </div>
                            <a th:href="@{/tarefa/criar-atividade}"
                               class="card-footer text-center bg-primary text-white text-decoration-none"
                               onmouseover="this.classList.add('text-decoration-underline')"
                               onmouseout="this.classList.remove('text-decoration-underline')">
                        <span class="text-decoration-none">
                            Explorar <i class="bi bi-arrow-right"></i>
                        </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <div class="card h-100 shadow">
                            <div class="card-body text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-list"></i></div>
                                <h2 class="h4 fw-bolder">Lista de Atividades</h2>
                                <p class="card-text">Tenha uma visão panorâmica de todas as tarefas em andamento. A
                                    lista de
                                    atividades proporciona uma visão consolidada das metas e projetos em execução,
                                    permitindo
                                    uma gestão eficaz do tempo e recursos. Mantenha-se informado e no controle,
                                    garantindo que
                                    cada membro da equipe esteja focado nas prioridades certas e por dentro de todas as atividades.</p>
                            </div>
                            <a th:href="@{/tarefa/lista-atividades}"
                               class="card-footer text-center bg-primary text-white text-decoration-none"
                               onmouseover="this.classList.add('text-decoration-underline')"
                               onmouseout="this.classList.remove('text-decoration-underline')">
                        <span class="text-decoration-none">
                            Explorar <i class="bi bi-arrow-right"></i>
                        </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <div class="card h-100 shadow">
                            <div class="card-body text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi-check"></i></div>
                                <h2 class="h4 fw-bolder">Lista de Concluídas</h2>
                                <p class="card-text">Mantenha um registro claro e organizado de todas as atividades que foram finalizadas pela equipe. A lista de atividades concluídas ajuda a monitorar o progresso, celebrar as conquistas e analisar o desempenho ao longo do tempo, garantindo que cada meta alcançada seja reconhecida e documentada de maneira clara e eficiente para todo o grupo.</p>
                            </div>
                            <a th:href="@{/tarefa/lista-atividades-concluidas}"
                               class="card-footer text-center bg-primary text-white text-decoration-none"
                               onmouseover="this.classList.add('text-decoration-underline')"
                               onmouseout="this.classList.remove('text-decoration-underline')">
                        <span class="text-decoration-none">
                            Explorar <i class="bi bi-arrow-right"></i>
                        </span>
                            </a>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-5 mb-lg-0">
                        <div class="card h-100 shadow">
                            <div class="card-body text-center">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i
                                        class="bi bi bi-trash"></i></div>
                                <h2 class="h4 fw-bolder">Lista de Removidas</h2>
                                <p class="card-text">Mantenha o controle das atividades que foram descartadas ou removidas do fluxo de trabalho. A lista de atividades removidas permite que você monitore decisões e mudanças no planejamento, oferecendo um histórico das tarefas que foram consideradas, mas não concluídas, evitando assim redundâncias e alocação de recursos no futuro.</p>
                            </div>
                            <a th:href="@{/tarefa/lista-atividades-removidas}"
                               class="card-footer text-center bg-primary text-white text-decoration-none"
                               onmouseover="this.classList.add('text-decoration-underline')"
                               onmouseout="this.classList.remove('text-decoration-underline')">
                        <span class="text-decoration-none">
                            Explorar <i class="bi bi-arrow-right"></i>
                        </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    <!-- Footer-->
    <footer class="bg-dark text-white text-center footer-padrao d-flex align-items-center">
        <div class="container">
            <p class="m-0">Copyright &copy; Fhelipe Alves - 2023</p>
            <p class="m-0">
                <a href="https://www.linkedin.com/in/fhelipe-alves/" target="_blank">LinkedIn</a> |
                <a href="https://github.com/fhelipe27" target="_blank">GitHub</a>
            </p>
        </div>
    </footer>


    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</div>
</div>
</body>

</html>